$accent-color: #40ba7b;

@mixin economy {
  .sm_heading {
    font-weight: 600;
    color: $accent-color;
    margin: 80px 0 10px 0;
  }

  .img {
    height: 90vh;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  &_grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  &_description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .bold {
      font-weight: 600;
      margin-bottom: 30px;
    }

    button {
      width: 180px;
    }
  }
}

@mixin latest {
  margin-left: auto;
  padding-bottom: 50px;

  .news {
    width: 85%;
    margin: auto;
    padding-top: 60px;

    .cards {
      // margin: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 30px;
      padding-bottom: 50px;

      .card {
        background: white;
        border-radius: 8px;

        .text {
          padding: 20px 0px 0px 20px;
        }

        .image {
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }

  @media (max-width: 718px) {
    .news {
      width: 65%;
    }
  }
}

@mixin member {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .membership {
    background: url(/images/membership.png) no-repeat center center;
    width: 75%;
    margin: auto;
    padding: 50px;

    .md_heading {
      color: #ffffff;
    }

    &_text {
      width: 85%;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 3fr 1fr;

      .text {
        font-size: 0.9em;
        color: white;
        font-weight: 500;
      }

      button {
        width: 130px;
        margin-right: auto;
        margin-left: 20px;
        border: none;

        .btn_text {
          color: #40ba7b;
        }
      }
    }
  }
}

@mixin black_green {
  width: 90%;
  margin: 150px auto 20px auto;
  border-radius: 20px;
  padding: 50px 40px 50px 40px;
}

@mixin number_cards {
  margin-top: 30px;
  display: grid;
  grid-gap: 40px 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .md_heading {
    color: $accent-color;
  }
}

@mixin icon_list {
  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      margin-left: 10px;
      font-weight: 300;
      margin-bottom: 10px;
    }

    .iconify {
      position: relative;
      top: 8px;
    }
  }
}

@mixin icon_list_sm {
  ul {
    list-style-type: none;
    padding-left: 0;
    width: 50%;
    margin-bottom: 20px;

    li {
      display: grid;
      grid-template-columns: 1fr 9fr;
      margin-left: 10px;
      font-weight: 300;
      margin-bottom: 10px;

      .text {
        padding-top: 10px;
      }
    }

    .iconify {
      position: relative;
      top: 8px;
    }
  }

  @media (max-width: 1000px) {
    ul {
      width: 100%;

      li {
        .text {
          padding-left: 5px;
        }
      }
    }
  }
}

.md_heading.center.top_margin {
  width: 63%;
  margin: auto;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}
